
#container {
    background: lightblue;
    padding: 10px;
    width: 360px;
    margin: 0 auto;
    border-radius: 4px;
    box-shadow: 5px 5px 8px lightgray;
}

.color_lineThrough {
    color: gray;
    text-decoration: line-through;
}